// 窗口底色
$window-bottom-color: #232427;
//$window-bottom-color: #87ecf8;

// 窗口单元颜色
$window-item-color: #323335;
//$window-item-color: #daf1f8;

// 左侧功能栏
$left-menu-color: #323335;
//$left-menu-color: #daf1f8;

// Logo颜色
$logo-color: #12CEC2FF;

// 表单文本颜色
$form-font-color: darkgrey;
